body {
  background-color: gray;
}

.container {
  height: 100vh;
  width: 100%;
}

h1 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 45px;
}

form {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 500px;
  width: 500px;
  height: 600px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin-top: 50px;
  background-color: cadetblue;
}

#input {
  font-size: 20px;
  font-weight: bold;
}

button {
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.bmi-guide > h2 {
  text-align: center;
  margin-top: 20px;
}

.bmi-guide > p {
  font-size: 18px;
}
